.glass {
    /* Efeito de vidro fosco */
	background: rgba(7, 7, 7, 0.61);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 2px 16px #0005;
}

.clear-glass {
    /* Efeito de vidro fosco */
	border: 1px solid rgba(7, 7, 7, 0.61);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 2px 16px #0005;
}