@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/* Estilos gerais do corpo */
body {
    font-family: 'Courier Prime', monospace;
    background: url('./images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

/* Estilos do conteúdo de aterrissagem */
.landing-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
    margin-left: 5%;
    font-size: larger;
}

/* Estilos do contêiner de texto */
.text-container {
    max-width: 50%;
}

/* Estilos do contêiner de imagem */
.image-container {
    margin-right: 5%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* Estilos da barra de navegação */
.nav {
    position: fixed; /* Fixa a barra de navegação na tela */
    top: 0;
    width: 100%; /* Faz a barra ocupar a largura total da tela */
    background: rgba(0, 0, 0, 0.3); /* Aumentando a transparência do fundo */
    backdrop-filter: blur(2px); /* Aplica blur à barra de navegação */
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
    padding: 10px 20px; /* Adiciona padding para espaçamento */
    z-index: 1000;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 3%;
    font-size: 1.2em;
    transition: color 0.3s, transform 0.3s ease;
}

.nav a:hover {
    color: #aaaaaa;
    transform: scale(1.1);
}

/* Estilos do título da página */
.page-title {
    text-align: center;
    margin-top: 5%;
}

/* Seção de projetos */
.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 60px; /* Espaço para não ficar atrás da navbar */
    gap: 20px;
    margin-bottom: 2%;
}

.project {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project p {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.project img {
    border-radius: 10px;
    max-width: 100%;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.5em;
    margin: 10px 0 0 0;
}

.project-description {
    margin-top: 10px;
}

/* Contêiner de botões */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
    cursor: pointer;
}

.button:hover {
    background: rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.button img {
    width: auto;
    height: 40px;
}

/* Estilos do texto "Sobre Mim" */
.about-me {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6;
}
