* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	width: 100vw;
	height: 100vh;
}

#landing-page-img {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}

#landing-page-img img {
	max-width: 100vw;
	max-height: 100vh;
	width: auto;
	height: auto;
	display: block;
	margin: auto;
	object-fit: contain;
}
