/* Chrome, Edge e Safari */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
* {
    scrollbar-width: none;
}

/* Garante que ainda dรก pra rolar */
body {
    overflow-y: scroll; /* ou auto */
}
